:root {
/* text, headings */
    --color-text-default: rgb(55, 53, 47);
/* media caption */
    --color-text-default-light: rgba(55, 53, 47, 0.6);
/* text, quote, toggle, callout colors */
    --color-text-gray: rgb(155, 154, 151);
    --color-text-brown: rgb(100, 71, 58);
    --color-text-orange: rgb(217, 115, 13);
    --color-text-yellow: rgb(223, 171, 1);
    --color-text-green: rgb(15, 123, 108);
    --color-text-blue: rgb(11, 110, 153);
    --color-text-purple: rgb(105, 64, 165);
    --color-text-pink: rgb(173, 26, 114);
    --color-text-red: rgb(224, 62, 62);
/* text, quote, toggle background colors */
    --color-bg-default: rgb(255, 255, 255);
    --color-bg-gray: rgb(235, 236, 237);
    --color-bg-brown: rgb(233, 229, 227);
    --color-bg-orange: rgb(250, 235, 221);
    --color-bg-yellow: rgb(251, 243, 219);
    --color-bg-green: rgb(221, 237, 234);
    --color-bg-blue: rgb(221, 235, 241);
    --color-bg-purple: rgb(234, 228, 242);
    --color-bg-pink: rgb(244, 223, 235);
    --color-bg-red: rgb(251, 228, 228);
/* callout background colors */
    --color-bg-gray-light: rgba(235, 236, 237, 0.3);
    --color-bg-brown-light: rgba(233, 229, 227, 0.3);
    --color-bg-orange-light: rgba(250, 235, 221, 0.3);
    --color-bg-yellow-light: rgba(251, 243, 219, 0.3);
    --color-bg-green-light: rgba(221, 237, 234, 0.3);
    --color-bg-blue-light: rgba(221, 235, 241, 0.3);
    --color-bg-purple-light: rgba(234, 228, 242, 0.3);
    --color-bg-pink-light: rgba(244, 223, 235, 0.3);
    --color-bg-red-light: rgba(251, 228, 228, 0.3);
/* tags (multi-select, select) colors */
    --color-pill-default: rgba(206, 205, 202, 0.5);
    --color-pill-gray: rgba(155, 154, 151, 0.4);
    --color-pill-brown: rgba(140, 46, 0, 0.2);
    --color-pill-orange: rgba(245, 93, 0, 0.2);
    --color-pill-yellow: rgba(233, 168, 0, 0.2);
    --color-pill-green: rgba(0, 135, 107, 0.2);
    --color-pill-blue: rgba(0, 120, 223, 0.2);
    --color-pill-purple: rgba(103, 36, 222, 0.2);
    --color-pill-pink: rgba(221, 0, 129, 0.2);
    --color-pill-red: rgba(255, 0, 26, 0.2);
/* gallery, board cards color when hovered */
    --color-ui-hover-bg: rgba(55, 53, 47, 0.08);
    --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03);
/* gallery, board cards background color */
    --color-card-bg: rgb(255, 255, 255);
    --color-accent-bg: rgb(46, 170, 220);
/* horizontal divider, card border */
    --color-border-default: rgba(235, 236, 237, 0.8);
    --color-border-dark: rgba(55, 53, 47, 0.16);
}
