:root {
	/* text, headings */
  --color-text-default: rgb(55, 53, 47);
	/* media caption */
  --color-text-default-light: rgba(55, 53, 47, 0.6);
	/* text, quote, toggle, callout colors */
  --color-text-gray: rgb(155, 154, 151);
  --color-text-brown: rgb(100, 71, 58);
  --color-text-orange: rgb(217, 115, 13);
  --color-text-yellow: rgb(223, 171, 1);
  --color-text-green: rgb(15, 123, 108);
  --color-text-blue: rgb(11, 110, 153);
  --color-text-purple: rgb(105, 64, 165);
  --color-text-pink: rgb(173, 26, 114);
  --color-text-red: rgb(224, 62, 62);
	/* text, quote, toggle background colors */
  --color-bg-default: rgb(255, 255, 255);
  --color-bg-gray: rgb(235, 236, 237);
  --color-bg-brown: rgb(233, 229, 227);
  --color-bg-orange: rgb(250, 235, 221);
  --color-bg-yellow: rgb(251, 243, 219);
  --color-bg-green: rgb(221, 237, 234);
  --color-bg-blue: rgb(221, 235, 241);
  --color-bg-purple: rgb(234, 228, 242);
  --color-bg-pink: rgb(244, 223, 235);
  --color-bg-red: rgb(251, 228, 228);
	/* callout background colors */
  --color-bg-gray-light: rgba(235, 236, 237, 0.3);
  --color-bg-brown-light: rgba(233, 229, 227, 0.3);
  --color-bg-orange-light: rgba(250, 235, 221, 0.3);
  --color-bg-yellow-light: rgba(251, 243, 219, 0.3);
  --color-bg-green-light: rgba(221, 237, 234, 0.3);
  --color-bg-blue-light: rgba(221, 235, 241, 0.3);
  --color-bg-purple-light: rgba(234, 228, 242, 0.3);
  --color-bg-pink-light: rgba(244, 223, 235, 0.3);
  --color-bg-red-light: rgba(251, 228, 228, 0.3);
	/* tags (multi-select, select) colors */
  --color-pill-default: rgba(206, 205, 202, 0.5);
  --color-pill-gray: rgba(155, 154, 151, 0.4);
  --color-pill-brown: rgba(140, 46, 0, 0.2);
  --color-pill-orange: rgba(245, 93, 0, 0.2);
  --color-pill-yellow: rgba(233, 168, 0, 0.2);
  --color-pill-green: rgba(0, 135, 107, 0.2);
  --color-pill-blue: rgba(0, 120, 223, 0.2);
  --color-pill-purple: rgba(103, 36, 222, 0.2);
  --color-pill-pink: rgba(221, 0, 129, 0.2);
  --color-pill-red: rgba(255, 0, 26, 0.2);
	/* gallery, board cards color when hovered */
  --color-ui-hover-bg: rgba(55, 53, 47, 0.08);
  --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03);
	/* gallery, board cards background color */
  --color-card-bg: rgb(255, 255, 255);
  --color-accent-bg: rgb(46, 170, 220);
	/* horizontal divider, card border */
  --color-border-default: rgba(235, 236, 237, 0.8);
  --color-border-dark: rgba(55, 53, 47, 0.16);
  /* Additions */
  --color-special-text: #7A7A7A;
  --color-callout-bg: rgb(255, 255, 255);
  --color-side-callout-bg: #f7f9fc;
}

html {
  scroll-behavior: smooth;
}

img {
  opacity: var(--img-opacity);
}

.notion-navbar .notion-breadcrumb {
  visibility: hidden;
}

.notion-navbar {
  background: transparent;
  position: fixed;
  z-index: 28;
  display: flex;
  margin: 5px 0px;
  right: 0;
  left: 0;
  top: 0;
}

.notion-header__content {
  display: none;
}

.notion-page__properties {
  border: 1px solid var(--color-border-default);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.notion-page__properties .notion-divider {
  margin: 16px 0px 28px 0px;
  display: none;
}

.notion-image img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.notion-text__content {
  padding: 10px 2px;
  margin: 0;
}

.notion-header__description {
  font-size: 14px;
}

.notion-callout.color-pink-light.border {
  border: 2px dotted var(--color-text-pink);
  background: none;
}

.notion-callout.color-orange-light.border {
  border: 2px dotted var(--color-text-orange);
  background: none;
}

.notion-callout.color-yellow-light.border {
  border: 2px dotted var(--color-text-yellow);
  background: none;
}

.notion-callout.color-green-light.border {
  border: 2px dotted var(--color-text-green);
  background: none;
}

.notion-callout.color-blue-light.border {
  border: 2px dotted var(--color-text-blue);
  background: none;
}

.notion-callout.color-purple-light.border {
  border: 2px dotted var(--color-text-purple);
  background: none;
}

.notion-callout.color-pink-light.border {
  border: 2px dotted var(--color-text-pink);
  background: none;
}

.notion-callout.color-red-light.border {
  border: 2px dotted var(--color-text-red);
  background: none;
}

.notion-callout {
  border-radius: 8px;
}

.notion-callout.bg-gray-light .notion-callout__icon, .notion-callout.bg-brown-light .notion-callout__icon {
  display: none;
}

.notion-heading .code, .notion-semantic-string .code {
  color: var(--color-special-text);
  font-weight: 300;
  background: none;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: inherit;
  padding: 0px;
}

.notion-semantic-string .code .link {
  border-bottom: none;
}

.notion-callout.bg-gray-light .notion-callout__content {
  background: none;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: inherit;
  padding: 0px;
  border-bottom: none;
  max-height: calc(100vh - 120px);
  height: 100%;
  overflow: auto;
}

.notion-callout.bg-gray-light a {
  border-bottom: none;
}

.notion-callout.bg-gray-light .notion-table-of-contents {
  font-size: 12px;
}

.notion-callout.bg-gray-light .notion-table-of-contents__item .notion-semantic-string {
  border-bottom: none;
  color: var(--color-special-text);
}

.notion-callout.bg-gray-light .notion-text__children {
  margin-inline-start: 1.5em;
  border-left: 1px solid var(--color-border-default);
  margin: 0.75em;
  padding-left: 0.75em;
}

.notion-table-of-contents__item > a > div {
  margin: 0.75em;
  padding-left: 0.75em;
}

.notion-toggle.bg-brown {
  display: none;
}

.notion-quote.bg-brown .notion-link {
  border: 1px solid;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.notion-quote.bg-gray {
  background: var(--color-bg-default);
  padding: 7px 7px 10px 1px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: fixed;
  z-index: 29;
  display: flex;
  border: 1px solid var(--color-border-default);
  width: 150px;
  margin: 10px;
  border-radius: 8px;
  top: 0px;
  left: 0px;
}

.notion-quote.bg-brown {
  background: none;
  align-items: center;
  font-size: 1em;
  border: none;
  text-align: center;
  margin: 20px 0px;
}

.notion-collection-card__content .notion-property__select .notion-pill {
    font-size: 0.95em;
    border: solid 1px #7a7a7a;
}

.notion-pill.pill-default {
  background: none;
}

.notion-pill.large {
  font-size: 0.75em;
  line-height: 18px;
}

.notion-pill, .notion-collection-table__cell.multi_select .notion-pill, .notion-collection-list__item-property .notion-property__select .notion-pill {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: solid 1px #7a7a7a;
  padding: 1px 6px;
}

@media (max-width: 546px)
{
  .notion-navbar {
      box-shadow: none;
  }
}

@media screen and (max-width: 1249px) {
  .notion-callout.bg-gray-light {
    background: var(--color-side-callout-bg);
    max-width: 300px;
    max-height: 190px;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: fixed;
    z-index: 29;
    display: flex;
    border: none;
    border-radius: 8px;
    margin: 10px 20px;
    right: 0;
    bottom: 30px;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 16px;
    transition: box-shadow 150ms ease 0s;
  }
  .notion-callout.bg-brown-light {
		display: block;
    background: var(--color-bg-default);
    border-radius: 8px;
  }
}

@media screen and (min-width: 1250px) {
  .notion-callout.bg-gray-light {
    background: var(--color-side-callout-bg);
    max-width: calc(100vw + 1px);
    width: calc(20%);
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 27;
    display: flex;
    border: none;
    margin: 0px;
    right: 0;
    top: 0px;
    border-radius: 0px;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 16px;
    transition: box-shadow 150ms ease 0s;
  }
  .notion-callout.bg-brown-light {
		display: block;
    background: var(--color-bg-default);
    position: fixed;
    left: 0px;
    z-index: 29;
    top: -2px;
    width: calc(20%);
    height: 100%;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0px;
  }
  .notion-callout.bg-brown-light .notion-callout__content {
    max-height: calc(100vh - 120px);
    height: 100%;
    overflow: auto;
  }
}
