:root {
    --color-text-default: rgb(255, 255, 255, 0.99) !important;
    --color-text-default-light: rgb(255, 255, 255, 0.75) !important;
    --color-text-gray: rgba(151, 154, 155, 0.95) !important;
    --color-text-brown: #937264 !important;
    --color-text-orange: #FFA344 !important;
    --color-text-yellow: #FFDC49 !important;
    --color-text-green: #4DAB9A !important;
    --color-text-blue: #529CCA !important;
    --color-text-purple: #9A6DD7 !important;
    --color-text-pink: #E255A1 !important;
    --color-text-red: #FF7369 !important;
    --color-bg-default: #010101 !important;
    --color-bg-gray: #454B4E !important;
    --color-bg-brown: #434040 !important;
    --color-bg-orange: #594A3A !important;
    --color-bg-yellow: #59563B !important;
    --color-bg-green: #354C4B !important;
    --color-bg-blue: #364954 !important;
    --color-bg-purple: #443F57 !important;
    --color-bg-pink: #533B4C !important;
    --color-bg-red: #594141 !important;
    --color-bg-gray-light: rgba(69, 75, 78, 0.3) !important;
    --color-bg-brown-light: rgba(67, 64, 64, 0.3) !important;
    --color-bg-orange-light: rgba(89, 74, 58, 0.3) !important;
    --color-bg-yellow-light: rgba(89, 86, 59, 0.3) !important;
    --color-bg-green-light: rgba(53, 76, 75, 0.3) !important;
    --color-bg-blue-light: rgba(120, 162, 187, 0.3) !important;
    --color-bg-purple-light: rgba(68, 63, 87, 0.3) !important;
    --color-bg-pink-light: rgba(83, 59, 76, 0.3) !important;
    --color-bg-red-light: rgba(89, 65, 65, 0.3) !important;
    --color-ui-hover-bg: rgb(71,76,80) !important;
    --color-ui-hover-bg-light: rgb(71,76,80) !important;
    --color-card-bg: #1F2023 !important;
    --color-accent-bg: #364954 !important;
    --color-border-default: rgb(48, 50, 54) !important;
    --color-border-dark: rgb(69, 75, 78) !important;
    --color-border-mercado: #FFFFFF !important;
    --color-nav-bg: #010101 !important;
    --color-nav-border: #FFFFFF !important;
  	--img-opacity: 0.8 !important;
  	--color-button-bg:  #FFFFFF !important;
  	--color-button-text: #1F1F1F !important;
  	--color-button-text-hover: #FFFFFF !important;
  	--color-button-bg-hover: #D80286 !important;
  	--color-link: #D80286 !important;
		--link-opacity: 0.9 !important;
}

body {
  animation: fadeInDown 1.3s !important;
}

img {
  opacity: var(--img-opacity) !important;
}

.notion-header__content>div {
  display: flex !important;
  justify-content: center !important;
}

.notion-header__cover {
  max-height: 500px !important;
  height: 500px !important;
  overflow: hidden !important;
  position: relative !important;
}

.notion-header__description {
  font-size: 14px !important;
}

.notion-text__content {
  padding: 10px 2px !important;
  margin: 0 !important;
}

.notion-semantic-string .link {
  color: var(--color-link) !important;
  border-bottom: 2px dotted var(--color-link) !important;
}

.notion-navbar .notion-breadcrumb {
  visibility: hidden !important;
}

.notion-collection__header {
  display: none !important;
}

.notion-header__cover.no-cover {
  max-height: 140px !important;
  height: 140px !important;
}

.notion-header__title, .notion-heading, .notion-collection__header, .notion-property__title {
  font-family: 'Playfair Display', serif !important;
}

.notion-page__properties .notion-property.notion-property__text em {
  text-align: center !important;
  font-size: 2rem !important;
  font-family: 'Playfair Display', serif !important;
}

.notion-property.notion-property__text em {
  text-align: center !important;
  font-size: 1.5rem !important;
  font-family: 'Playfair Display', serif !important;
}

.notion-navbar {
  background: transparent !important;
  position: fixed !important;
  z-index: 28 !important;
  display: flex !important;
  margin: 5px 0px !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

.notion-callout.border {
  border: 2px dashed !important;
}

.notion-callout.color-gray-light.border {
  border: 2px dashed var(--color-text-gray) !important;
  background: none !important;
}

.notion-callout.color-brown-light.border {
  border: 2px dashed var(--color-text-brown) !important;
  background: none !important;
}

.notion-callout.color-orange-light.border {
  border: 2px dashed var(--color-text-orange) !important;
  background: none !important;
}

.notion-callout.color-yellow-light.border {
  border: 2px dashed var(--color-text-yellow) !important;
  background: none !important;
}

.notion-callout.color-green-light.border {
  border: 2px dashed var(--color-text-green) !important;
  background: none !important;
}

.notion-callout.color-blue-light.border {
  border: 2px dashed var(--color-text-blue) !important;
  background: none !important;
}

.notion-callout.color-purple-light.border {
  border: 2px dashed var(--color-text-purple) !important;
  background: none !important;
}

.notion-callout.color-pink-light.border {
  border: 2px dashed var(--color-text-pink) !important;
  background: none !important;
}

.notion-callout.color-red-light.border {
  border: 2px dashed var(--color-text-red) !important;
  background: none !important;
}

.notion-bulleted-list {
  list-style-type: square !important;
}

.notion-bookmark {
  border-radius: 0px !important;
}

.notion-semantic-string .link {
  opacity: var(--link-opacity) !important;
}

.notion-collection-gallery .notion-property.notion-property__number, .notion-page__property .notion-property.notion-property__number {
  font-size: 1rem !important;
  padding-bottom: 5px !important;
}

.notion-collection-card__content .notion-property__select .notion-pill {
  font-size: 0.95em !important;
  border: solid 1px #7a7a7a !important;
}

.notion-divider {
  border-bottom: 3px solid var(--color-border-mercado) !important;
}

.notion-collection-card .notion-property__title {
  font-size: 1.875rem !important;
}

.notion-property__title .notion-property__title__icon-wrapper {
  display: none !important;
}

.notion-pill.pill-default {
  background: none !important;
}

.notion-pill.large {
  font-size: 0.75em !important;
  line-height: 18px !important;
}

.notion-pill, .notion-collection-table__cell.multi_select .notion-pill, .notion-collection-list__item-property .notion-property__select .notion-pill {
  color: var(--color-text-default) !important;
  font-size: 0.75em !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important;
  border: solid 1px var(--color-border-dark) !important;
  padding: 2px 8px !important;
  border-radius: 0 !important;
}

.notion-collection-gallery .notion-collection-card__cover.large, .notion-collection-card__cover.large>span, .notion-collection-card__cover.large img {
  height: 300px !important;
  max-height: 300px !important;
}

.notion-collection-gallery .notion-collection-card {
  border: 2px solid var(--color-border-mercado) !important;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05) !important;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12) !important;
}

.notion-collection-gallery .notion-collection-card:hover {
  background: var(--color-card-bg) !important;
  transform: scale(1.05) !important;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06) !important;
}

.notion-collection-card__cover img {
  border-radius: 0px !important;
}

.notion-collection-gallery .notion-collection-card__property:last-child {
  justify-content: flex-end !important;
  padding-top: 23px !important;
  padding-right: 13px !important;
  padding-bottom: 5px !important;
}

.notion-collection-gallery {
  border-top: none !important;
  gap: 36px !important;
}

.notion-collection-gallery .notion-property__text {
  font-size: 0.975rem !important;
  font-weight: 500 !important;
  padding-bottom: 7px !important;
}

.notion-property__text {
  font-size: 0.775rem !important;
  padding-bottom: 7px !important;
}

.notion-caption {
  text-align: center !important;
}

.notion-page__properties .notion-property {
  justify-content: center !important;
}

.notion-page__properties .notion-property.notion-property__text {
  text-align: center !important;
}

.notion-page__properties .notion-property__text .link {
  border: 1px solid !important;
  color: var(--color-button-text) !important;
  background: var(--color-button-bg) !important;
  opacity: 1 !important;
  padding: 7px 25px !important;
  box-shadow: inset 0 0 0 0 var(--color-button-bg-hover) !important;
  -webkit-transition: ease-out 0.4s !important;
  -moz-transition: ease-out 0.4s !important;
  transition: ease-out 0.4s !important;
}

.notion-page__properties .notion-property__text .link:hover {
  color: var(--color-button-text-hover) !important;
  box-shadow: inset 400px 0 0 0 var(--color-button-bg-hover) !important;
}

.notion-page__property-name {
  display: none !important;
}

.notion-page__property {
  display: flex !important;
}

.notion-page__properties .notion-semantic-string .individual>div {
  width: 23px !important;
  height: 23px !important;
}

.notion-semantic-string .individual {
  line-height: 2 !important;
}

.notion-toggle.bg-brown {
  display: none !important;
}

.notion-quote.bg-brown .notion-link {
  border: 1px solid !important;
  padding: 12px 25px !important;
  cursor: pointer !important;
  background: var(--color-button-bg) !important;
  color: var(--color-button-text) !important;
  opacity: 1 !important;
  box-shadow: inset 0 0 0 0 var(--color-button-bg-hover) !important;
  -webkit-transition: ease-out 0.4s !important;
  -moz-transition: ease-out 0.4s !important;
  transition: ease-out 0.4s !important;
}

.notion-quote.bg-brown .notion-link:hover {
  color: var(--color-button-text-hover) !important;
  box-shadow: inset 400px 0 0 0 var(--color-button-bg-hover) !important;
}

.notion-quote.bg-brown {
  background: none !important;
  align-items: center !important;
  font-size: 16px !important;
  border: none !important;
  text-align: center !important;
  margin: 15px 0px !important;
}

.notion-collection-board, .notion-collection-list {
  border-top: none !important;
}

.notion-collection-list {
  overflow: auto !important;
}

.notion-collection-gallery .notion-property__text {
  font-size: 0.975rem !important;
  font-weight: 500 !important;
  padding-bottom: 7px !important;
  z-index: 20 !important;
}

.notion-collection-gallery .notion-property__text .link {
  color: var(--color-button-text) !important;
  background: var(--color-button-bg) !important;
  opacity: 1 !important;
  border: 1px solid var(--color-border-dark) !important;
  padding: 10px 25px !important;
  box-shadow: inset 0 0 0 0 var(--color-button-bg-hover) !important;
  -webkit-transition: ease-out 0.4s !important;
  -moz-transition: ease-out 0.4s !important;
  transition: ease-out 0.4s !important;
}

.notion-collection-gallery .notion-property__text .link:hover {
  color: var(--color-button-text-hover) !important;
  box-shadow: inset 400px 0 0 0 var(--color-button-bg-hover) !important;
}

.notion-toggle.bg-gray {
  background: var(--color-nav-bg) !important;
  max-width: 290px !important;
  padding: 3px 10px !important;
  justify-content: center !important;
  align-items: center !important;
  position: fixed !important;
  z-index: 29 !important;
  display: inline-block !important;
  border: 1px solid var(--color-nav-border) !important;
  margin: 10px 60px !important;
  right: 0 !important;
  top: 0 !important;
}

.notion-toggle.bg-gray a {
  border-bottom: none !important;
}

.notion-toggle.bg-gray .notion-toggle__summary::before {
  background: none !important;
  padding: 1px 0px !important;
}

.notion-toggle.bg-gray .notion-toggle__content {
  -webkit-padding-start: calc(1.2em + 4px) !important;
  padding-inline-start: calc(1.2em + 4px) !important;
  margin-top: 5px !important;
  max-height: 333px !important;
  overflow: auto !important;
}

@media (max-width: 546px) {
  .notion-navbar {
    box-shadow: none !important;
  }
}

@keyframes fadeInDown {
    0% {
        opacity: 0 !important;
        top: -50px !important;
    }
    100% {
        opacity: 1 !important;
        top: 0 !important;
    }
}
