[data-theme="light"], :root {
	/* text, headings */
  --color-text-default: rgb(55, 53, 47);
	/* media caption */
  --color-text-default-light: rgba(55, 53, 47, 0.6);
	/* text, quote, toggle, callout colors */
  --color-text-gray: rgb(155, 154, 151);
  --color-text-brown: rgb(100, 71, 58);
  --color-text-orange: rgb(217, 115, 13);
  --color-text-yellow: rgb(223, 171, 1);
  --color-text-green: rgb(15, 123, 108);
  --color-text-blue: rgb(11, 110, 153);
  --color-text-purple: rgb(105, 64, 165);
  --color-text-pink: rgb(173, 26, 114);
  --color-text-red: rgb(224, 62, 62);
	/* text, quote, toggle background colors */
  --color-bg-default: rgb(255, 255, 255);
  --color-bg-gray: rgb(235, 236, 237);
  --color-bg-brown: rgb(233, 229, 227);
  --color-bg-orange: rgb(250, 235, 221);
  --color-bg-yellow: rgb(251, 243, 219);
  --color-bg-green: rgb(221, 237, 234);
  --color-bg-blue: rgb(221, 235, 241);
  --color-bg-purple: rgb(234, 228, 242);
  --color-bg-pink: rgb(244, 223, 235);
  --color-bg-red: rgb(251, 228, 228);
	/* callout background colors */
  --color-bg-gray-light: rgba(235, 236, 237, 0.3);
  --color-bg-brown-light: rgba(233, 229, 227, 0.3);
  --color-bg-orange-light: rgba(250, 235, 221, 0.3);
  --color-bg-yellow-light: rgba(251, 243, 219, 0.3);
  --color-bg-green-light: rgba(221, 237, 234, 0.3);
  --color-bg-blue-light: rgba(221, 235, 241, 0.3);
  --color-bg-purple-light: rgba(234, 228, 242, 0.3);
  --color-bg-pink-light: rgba(244, 223, 235, 0.3);
  --color-bg-red-light: rgba(251, 228, 228, 0.3);
	/* tags (multi-select, select) colors */
  --color-pill-default: rgba(206, 205, 202, 0.5);
  --color-pill-gray: rgba(155, 154, 151, 0.4);
  --color-pill-brown: rgba(140, 46, 0, 0.2);
  --color-pill-orange: rgba(245, 93, 0, 0.2);
  --color-pill-yellow: rgba(233, 168, 0, 0.2);
  --color-pill-green: rgba(0, 135, 107, 0.2);
  --color-pill-blue: rgba(0, 120, 223, 0.2);
  --color-pill-purple: rgba(103, 36, 222, 0.2);
  --color-pill-pink: rgba(221, 0, 129, 0.2);
  --color-pill-red: rgba(255, 0, 26, 0.2);
	/* gallery, board cards color when hovered */
  --color-ui-hover-bg: rgba(55, 53, 47, 0.08);
  --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03);
	/* gallery, board cards background color */
  --color-card-bg: rgb(255, 255, 255);
  --color-accent-bg: rgb(46, 170, 220);
	/* horizontal divider, card border */
  --color-border-default: rgba(235, 236, 237, 0.8);
  --color-border-dark: rgba(55, 53, 47, 0.16);
  /* Additions */
  --color-special-text: #7A7A7A;
	--color-button-text: #FFFFFF;
	--color-button-text-hover: #FFFFFF;
  --color-button-bg: #1F1F1F;
	--color-button-bg-hover: #D80286;
  /* Left sidebar */
	--color-left-sidebar: rgb(255, 255, 255);
	--color-left-sidebar-border: rgb(69, 75, 78);
	--color-left-sidebar-bg: #000000;
	.notion-callout__icon {
	  filter: invert(0%);
	}
}

[data-theme="dark"] {
  /* text, headings */
  --color-text-default: rgba(255,255,255,0.9);
	/* media caption */
  --color-text-default-light: rgba(255, 255, 255, 0.9);
	/* text, quote, toggle, callout colors */
  --color-text-gray: rgba(151, 154, 155, 0.95);
  --color-text-brown: #937264;
  --color-text-orange: #FFA344;
  --color-text-yellow: #FFDC49;
  --color-text-green: #4DAB9A;
  --color-text-blue: #529CCA;
  --color-text-purple: #9A6DD7;
  --color-text-pink: #E255A1;
  --color-text-red: #FF7369;
	/* text, quote, toggle background colors */
  --color-bg-default: #1F2023;
  --color-bg-gray: #454B4E;
  --color-bg-brown: #434040;
  --color-bg-orange: #594A3A;
  --color-bg-yellow: #59563B;
  --color-bg-green: #354C4B;
  --color-bg-blue: #364954;
  --color-bg-purple: #443F57;
  --color-bg-pink: #533B4C;
  --color-bg-red: #594141;
	/* callout background colors */
  --color-bg-gray-light: rgba(69, 75, 78, 0.3);
  --color-bg-brown-light: rgba(67, 64, 64, 0.3);
  --color-bg-orange-light: rgba(89, 74, 58, 0.3);
  --color-bg-yellow-light: rgba(89, 86, 59, 0.3);
  --color-bg-green-light: rgba(53, 76, 75, 0.3);
  --color-bg-blue-light: rgba(120, 162, 187, 0.3);
  --color-bg-purple-light: rgba(68, 63, 87, 0.3);
  --color-bg-pink-light: rgba(83, 59, 76, 0.3);
  --color-bg-red-light: rgba(89, 65, 65, 0.3);
	/* tags (multi-select, select) colors */
  --color-pill-default: rgba(206, 205, 202, 0.5);
  --color-pill-gray: rgba(151,154,155,0.5);
  --color-pill-brown: rgba(147,114,100,0.5);
  --color-pill-orange: rgba(255,163,68,0.5);
  --color-pill-yellow: rgba(255,220,73,0.5);
  --color-pill-green: rgba(77,171,154,0.5);
  --color-pill-blue: rgba(82,156,202,0.5);
  --color-pill-purple: rgba(154,109,215,0.5);
  --color-pill-pink: rgba(226,85,161,0.5);
  --color-pill-red: rgba(255,115,105,0.5);
	/* gallery, board cards color when hovered */
  --color-ui-hover-bg: rgb(71,76,80);
  --color-ui-hover-bg-light: rgb(71,76,80);
	/* gallery, board cards background color */
  --color-card-bg: #2f3437;
  --color-accent-bg: #364954;
	/* horizontal divider, card border */
  --color-border-default: rgb(48, 50, 54);
  --color-border-dark: rgb(69, 75, 78);
  /* Additions */
  --color-special-text: rgba(255,255,255,0.65);
  --color-callout-bg: #1F2023;
  --color-button-bg:  #D80286;
	--color-button-text: #FFFFFF;
	--color-button-text-hover: #1F1F1F;
	--color-button-bg-hover: #FFFFFF;
  /* Left sidebar */
	--color-left-sidebar: rgb(255, 255, 255);
	--color-left-sidebar-border: rgb(69, 75, 78);
	--color-left-sidebar-bg: #010101;
	.notion-callout__icon {
	  filter: invert(100%);
	}
}

html {
  scroll-behavior: smooth;
}

body {
  animation: fadeInDown 1.3s;
}

.notion-navbar .notion-breadcrumb {
    visibility: hidden;
}

#block-94a0664a16d3415c9b472fe926fc1da4, #block-55fddca551464be98a012dfcf5018be7 {
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.notion-collection-list::-webkit-scrollbar, .notion-callout__content::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.notion-collection-list, .notion-callout__content::-webkit-scrollbar {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}


/* padding for text */

.notion-text__content {
  padding: 10px 2px;
  margin: 0;
}

/* caption center aligned */

.notion-caption {
  text-align: center;
}

/* Images with rounded border */

.notion-image img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

/* Navbar */

.super-navbar__logo-text {
  display: none;
}

.super-navbar__actions {
  gap: 9px;
}

.super-navbar__cta {
  font-size: 15px;
}

.notion-navbar {
  background: transparent;
  position: fixed !important;
  z-index: 28 !important;
  display: flex !important;
  margin: 5px 0px !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

.notion-navbar > a {
  display: none;
}

/* heading margin top */


h2.notion-heading:not(.toggle) {
  margin-top: 3rem;
}

/* Header and Cover */

.notion-header__cover.no-cover {
  max-height: 100px;
  height: 100px;
}

.notion-header__description {
  font-size: 14px;
}

/* Callout customizations */

.notion-callout {
  border-radius: 8px;
}

.notion-callout.border {
  border: 1px solid var(--color-border-default);
}

.notion-callout.color-pink-light.border {
  border: 2px dotted var(--color-text-pink) !important;
  background: none !important;
}

.notion-callout.color-orange-light.border {
  border: 2px dotted var(--color-text-orange) !important;
  background: none !important;
}

.notion-callout.color-yellow-light.border {
  border: 2px dotted var(--color-text-yellow) !important;
  background: none !important;
}

.notion-callout.color-green-light.border {
  border: 2px dotted var(--color-text-green) !important;
  background: none !important;
}

.notion-callout.color-blue-light.border {
  border: 2px dotted var(--color-text-blue) !important;
  background: none !important;
}

.notion-callout.color-purple-light.border {
  border: 2px dotted var(--color-text-purple) !important;
  background: none !important;
}

.notion-callout.color-pink-light.border {
  border: 2px dotted var(--color-text-pink) !important;
  background: none !important;
}

.notion-callout.color-red-light.border {
  border: 2px dotted var(--color-text-red) !important;
  background: none !important;
}

.notion-heading .code, .notion-semantic-string .code {
  color: var(--color-special-text);
  font-weight: 300;
  background: none;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: inherit;
  padding: 0px;
}

.notion-semantic-string .code .link {
  border-bottom: none !important;
}

/* Hidden Block */

.notion-toggle.bg-brown {
  display: none;
}

/* Button */

.notion-quote.bg-brown .notion-link {
  border: 1px solid !important;
  padding: 8px 12px !important;
  border-radius: 8px !important;
  cursor: pointer;
}

.notion-quote.bg-brown {
  background: none;
  align-items: center !important;
  font-size: 1em !important;
  border: none !important;
  text-align: center;
  margin: 20px 0px;
}

.notion-quote.bg-gray .notion-link {
  border: 1px solid !important;
  padding: 8px 12px !important;
  border-radius: 8px !important;
  cursor: pointer;
}

.notion-quote.bg-gray {
  background: none;
  align-items: center !important;
  font-size: 1em !important;
  border: none !important;
  text-align: left;
  margin: 20px 0px;
}

/* pill i.e. tags */

.notion-collection-card__content .notion-property__select .notion-pill {
  font-size: 0.95em;
  border: solid 1px #7a7a7a;
}

.notion-pill.pill-default {
  background: none;
}

.notion-pill.large {
  font-size: 0.75em;
  line-height: 18px;
}

.notion-pill, .notion-collection-table__cell.multi_select .notion-pill, .notion-collection-list__item-property .notion-property__select .notion-pill {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: solid 1px #7a7a7a;
  padding: 1px 6px !important;
}

/* Gallery */

.notion-collection__header {
  color: var(--color-special-text);
  font-weight: 300;
  background: none;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: inherit;
  padding: 0px;
}

.notion-collection-gallery .notion-collection-card__cover.large, .notion-collection-card__cover.large>span, .notion-collection-card__cover.large img {
  height: 300px;
  max-height: 300px;
}

.notion-collection-gallery .notion-collection-card {
  box-shadow: rgb(0 0 0 / 10%) 0 7px 25px 0;
  -webkit-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.notion-collection-gallery .notion-collection-card:hover {
  box-shadow: rgba(50,50,93,.25) 0 30px 60px -12px;
  transform: translateY(-5px);
  -webkit-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.notion-collection-card__cover img {
  border-radius: 0px;
}

.notion-collection-gallery .notion-collection-card__property:last-child {
  justify-content: flex-end;
  padding-top: 23px;
  padding-right: 13px;
  padding-bottom: 5px;
}

.notion-collection-gallery {
  border-top: none;
  gap: 36px;
}

.notion-collection-gallery .notion-collection-card .notion-property__title .notion-property__title__icon-wrapper {
  display: none;
}

/* Property */

.notion-property__text {
  font-size: 0.975rem;
  font-weight: 500;
  padding-bottom: 7px;
  z-index: 20;
}

.notion-property__text .link {
  color: var(--color-button-text);
  background: var(--color-button-bg);
  opacity: 1;
  border: 1px solid var(--color-border-dark);
  border-radius: 20px;
  padding: 10px 25px;
  box-shadow: inset 0 0 0 0 var(--color-button-bg-hover);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.notion-property__text .link:hover {
  color: var(--color-button-text-hover);
  box-shadow: inset 400px 0 0 0 var(--color-button-bg-hover);
}

.notion-dropdown__button-title {
  font-weight: 600;
  font-size: 14px;
}

/* List */

.notion-collection-list {
  overflow: auto;
  border-top: none;
}

.notion-collection-list__item {
  width: 100% !important;
  padding: 10px 10px !important;
  margin: 5px 0 !important;
  border-radius: 8px !important;
  border: 1px solid var(--color-border-default) !important;
  cursor: pointer !important;
  color: inherit !important;
  text-decoration: none !important;
  position: relative !important;
}

.notion-collection-list__item-content {
  padding: 5px 0px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.notion-collection-list__item-property .notion-property__select {
  display: inline-block !important;
}

.notion-collection-list__item-property .notion-semantic-string {
  white-space: normal !important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string {
  display: flex !important;
  align-items: center !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: normal !important;
  text-decoration: none !important;
  margin-inline-end: 32px !important;
  margin-inline-start: 4px !important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string > span {
  border-bottom: none !important;
}

.notion-property__title .notion-property__title__icon-wrapper {
  display: none;
}

/* Properties for database pages */

.notion-page__properties {
  border: 1px solid var(--color-border-default);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;

}

.notion-page__properties .notion-divider {
  margin: 16px 0px 28px 0px;
  display: none;
}

.notion-page__properties .notion-property__text {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 7px;
  z-index: 20;
}

.notion-page__properties .notion-property__text .link {
  border: 1px solid;
  color: var(--color-button-text);
  background: var(--color-button-bg);
  opacity: 1;
  padding: 7px 25px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0 var(--color-button-bg-hover);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.notion-page__properties .notion-property__text .link:hover {
  color: var(--color-button-text-hover);
  box-shadow: inset 400px 0 0 0 var(--color-button-bg-hover);
}

.notion-semantic-string .individual>span .notion-icon {
  border-radius: 50%;
}

.notion-semantic-string .individual>span  {
  padding-left: 6px;
  font-size: 14px;
}

/* Toggle menu for links on top navbar */

.notion-toggle.bg-gray {
  background: var(--color-bg-default);
  max-width: 290px;
  padding: 3px 10px !important;
  justify-content: center !important;
  align-items: center !important;
  position: fixed !important;
  z-index: 29 !important;
  display: inline-block !important;
  border: 1px solid var(--color-border-default);
  border-radius: 20px;
  margin: 14px 60px !important;
  right: 0 !important;
  top: 0 !important;
}

.notion-toggle.bg-gray a {
  border-bottom: none;
}

.notion-toggle.bg-gray .notion-toggle__trigger {
  margin-top: -4px !important;
  margin-right: 1px !important;
  background: none !important;
}

.notion-toggle.bg-gray .notion-toggle__summary {
  color: var(--color-special-text);
  font-weight: 300;
  background: none;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: inherit;
  padding: 3px 5px;
}

.notion-toggle.bg-gray .notion-toggle__content {
  -webkit-padding-start: calc(1.2em + 4px);
  padding-inline-start: calc(1.2em + 4px);
  margin-top: 5px;
  max-height: 333px;
  overflow: auto;
}

@media (max-width: 546px)
{
  .notion-navbar {
      box-shadow: none;
  }
  /* Page property */
  .notion-page__property {
    display: inline !important;
  }
  .notion-page__property-name {
    margin-bottom: 7px;
  }
  .notion-toggle.bg-gray {
    display: none !important;
  }
}

@media screen and (max-width: 1249px) {
  .super-content{
    padding-bottom: 300px;
  }
  /* Header and Cover */
  .notion-header__title {
    color: var(--color-special-text);
    font-size: 0.85em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /* left sidebar on mobile */
  .notion-callout.bg-gray-light {
    background: var(--color-left-sidebar-bg) !important;
    max-width: 200px;
    width: 200px;
    max-height: 150px;
    height: 100%;
    justify-content: center !important;
    align-items: center !important;
    font-size: 16px !important;
    position: fixed !important;
    z-index: 29 !important;
    display: flex !important;
    border: none;
    border-radius: 8px;
    margin: 10px 20px !important;
    left: 0 !important;
    bottom: 10px !important;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 16px;
    transition: box-shadow 150ms ease 0s;
  }
  .notion-callout.bg-gray-light .notion-callout__icon {
    display: none;
  }
  .notion-callout.bg-gray-light .notion-divider {
    border-bottom: 1px solid var(--color-left-sidebar-border);
  }
  .notion-callout.bg-gray-light .notion-callout__content {
    border-bottom: none;
    max-height: calc(100vh - 120px);
    height: 100%;
    overflow: auto;
    color: var(--color-left-sidebar);
  }
  .notion-callout.bg-gray-light a {
    border-bottom: none;
  }
  /* navbar list */
  .notion-quote.bg-purple {
    display: none;
  }
}

@media screen and (min-width: 1250px) {
  .super-content {
    padding-left: calc(env(safe-area-inset-left) + 196px);
    padding-right: calc(env(safe-area-inset-right) + 6px);
    padding-bottom: 30vh;
  }
  /* Header and Cover */
  .notion-header__title {
    color: var(--color-special-text);
    font-size: 0.85em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-left: calc(env(safe-area-inset-left) + 101px);
    padding-right: calc(env(safe-area-inset-right) + 96px);
  }
  /* left sidebar */
  .notion-callout.bg-gray-light {
    background: var(--color-left-sidebar-bg) !important;
    position: fixed;
    left: 0px;
    z-index: 29;
    top: -2px;
    width: calc(20%);
    height: 100%;
    border: none;
    border-radius: 0px !important;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 16px;
    transition: box-shadow 150ms ease 0s;
  }
  .notion-callout.bg-gray-light .notion-callout__icon {
    display: none;
  }
  .notion-callout.bg-gray-light .notion-divider {
    border-bottom: 1px solid var(--color-left-sidebar-border);
  }
  .notion-callout.bg-gray-light .notion-callout__content {
    border-bottom: none;
    max-height: calc(100vh - 120px);
    height: 100%;
    overflow: auto;
    color: var(--color-left-sidebar);
  }
  .notion-callout.bg-gray-light a {
    border-bottom: none;
  }
  /* navbar list */
  .notion-quote.bg-purple {
    background: none;
    color: var(--color-text-default);
    font-size: 15px;
    padding: 6px 10px !important;
    justify-content: center !important;
    align-items: center !important;
    position: fixed !important;
    z-index: 29 !important;
    display: flex !important;
    border: 1px solid var(--color-nav-border);
    margin: 10px 60px !important;
    right: 0 !important;
    top: 0 !important;
  }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        top: -50px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
