:root {
  --color-text-default: rgb(55, 53, 47) !important;
  --color-text-default-light: rgba(55, 53, 47, 0.6) !important;
  --color-text-gray: rgb(155, 154, 151) !important;
  --color-text-brown: rgb(100, 71, 58) !important;
  --color-text-orange: rgb(217, 115, 13) !important;
  --color-text-yellow: rgb(223, 171, 1) !important;
  --color-text-green: rgb(15, 123, 108) !important;
  --color-text-blue: rgb(11, 110, 153) !important;
  --color-text-purple: rgb(105, 64, 165) !important;
  --color-text-pink: rgb(173, 26, 114) !important;
  --color-text-red: rgb(224, 62, 62) !important;
  --color-bg-default: rgb(255, 255, 255) !important;
  --color-bg-gray: rgb(235, 236, 237) !important;
  --color-bg-brown: rgb(233, 229, 227) !important;
  --color-bg-orange: rgb(250, 235, 221) !important;
  --color-bg-yellow: rgb(251, 243, 219) !important;
  --color-bg-green: rgb(221, 237, 234) !important;
  --color-bg-blue: rgb(221, 235, 241) !important;
  --color-bg-purple: rgb(234, 228, 242) !important;
  --color-bg-pink: rgb(244, 223, 235) !important;
  --color-bg-red: rgb(251, 228, 228) !important;
  --color-bg-gray-light: rgba(235, 236, 237, 0.3) !important;
  --color-bg-brown-light: rgba(233, 229, 227, 0.3) !important;
  --color-bg-orange-light: rgba(250, 235, 221, 0.3) !important;
  --color-bg-yellow-light: rgba(251, 243, 219, 0.3) !important;
  --color-bg-green-light: rgba(221, 237, 234, 0.3) !important;
  --color-bg-blue-light: rgba(221, 235, 241, 0.3) !important;
  --color-bg-purple-light: rgba(234, 228, 242, 0.3) !important;
  --color-bg-pink-light: rgba(244, 223, 235, 0.3) !important;
  --color-bg-red-light: rgba(251, 228, 228, 0.3) !important;
  --color-ui-hover-bg: rgba(55, 53, 47, 0.08) !important;
  --color-ui-hover-bg-light: rgba(55, 53, 47, 0.03) !important;
  --color-card-bg: rgb(255, 255, 255) !important;
  --color-accent-bg: rgb(46, 170, 220) !important;
	/* Additions */
  --color-special-text: #7A7A7A !important;
  --color-nav-bg: rgb(255, 255, 255) !important;
}

.notion-header__title {
    margin-top: -31px !important;
}

.notion-header__content>div {
  display: flex !important;
  justify-content: center !important;
}

.notion-header__title {
  color: var(--color-special-text) !important;
  font-size: 0.85em !important;
  font-weight: 600 !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important;
  text-align: center !important;
}

.notion-text__content {
  padding: 10px 2px !important;
  margin: 0 !important;
}

.notion-navbar .notion-breadcrumb {
  visibility: hidden !important;
}

.notion-header__cover {
  max-height: 400px !important;
  height: 400px !important;
  overflow: hidden !important;
  position: relative !important;
  margin-bottom: 70px !important;
}

.notion-header__cover:after {
  content: "" !important;
  position: absolute !important;
  z-index: 1 !important;
  bottom: 0 !important;
  left: 0 !important;
  pointer-events: none !important;
  background-image: linear-gradient(to bottom,
                    rgba(255,255,255, 0),
                    rgba(255,255,255, 1) 90%) !important;
  width : 100% !important;
  height: 3em !important;
}

.notion-navbar {
  background: transparent !important;
  position: fixed !important;
  z-index: 28 !important;
  display: flex !important;
  margin: 5px 0px !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
}

.notion-semantic-string .individual>span .notion-icon {
  border-radius: 50% !important;
}

.notion-semantic-string .individual>span  {
  padding-left: 6px !important;
  font-size: 14px !important;
}

.notion-semantic-string  .code .highlighted-color .color-brown {
  color: var(--color-special-text) !important;
  display: flex !important;
  justify-content: center !important;
}

.notion-semantic-string .highlighted-color .color-brown .code {
  color: var(--color-special-text) !important;
  display: flex !important;
  justify-content: center !important;
}

.notion-collection-list {
  overflow: auto !important;
  border-top: none !important;
}

.notion-property__title .notion-property__title__icon-wrapper {
  display: none !important;
}

.notion-pill.pill-default {
  background: none !important;
}

.notion-pill, .notion-collection-table__cell.multi_select .notion-pill, .notion-collection-list__item-property .notion-property__select .notion-pill {
  font-size: 0.75em !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important;
  border: solid 1px var(--color-special-text) !important;
  padding: 1px 6px !important;
}

.notion-heading .code, .notion-semantic-string .code, .notion-collection__header {
  color: var(--color-special-text) !important;
  font-weight: 300 !important;
  background: none !important;
  font-size: 12px !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important;
  font-family: inherit !important;
  padding: 0px !important;
}

.notion-toggle.bg-brown {
  display: none !important;
}

.notion-quote.bg-brown .notion-link {
  border: 1px solid !important;
  padding: 12px 24px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

.notion-quote.bg-brown {
  background: none !important;
  align-items: center !important;
  font-size: 16px !important;
  border: none !important;
  text-align: center !important;
  margin: 15px 0px !important;
}

.notion-toggle.bg-orange .notion-text__content {
  color: var(--color-special-text) !important;
  font-weight: 300 !important;
  background: none !important;
  font-size: 0.75em !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important;
  font-family: inherit !important;
  padding: 0px 0px 15px 0px !important;
  border-bottom: none !important;
}

.notion-toggle.bg-orange a {
  border-bottom: none !important;
}

.notion-toggle.bg-orange .notion-toggle__summary {
  color: var(--color-special-text) !important;
  font-weight: 300 !important;
  background: none !important;
  font-size: 0.75em !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important;
  font-family: inherit !important;
  padding: 0px !important;
}

.notion-toggle.bg-orange .notion-toggle__trigger_icon {
  display: none !important;
  content: "\02022" !important;
  font-size: 1.5em !important;
  background: none !important;
  padding: 1px 3px !important;
  margin: -3px 5px 0 2px !important;
  line-height: 1.1 !important;
  position: absolute !important;
}

.notion-toggle.bg-orange .notion-toggle__content {
  -webkit-padding-start: calc(1.2em + 4px) !important;
  padding-inline-start: calc(1.2em + 4px) !important;
  margin-top: 5px !important;
  max-height: 333px !important;
  overflow: auto !important;
}

@media (max-width: 546px)
{
  .notion-navbar {
      box-shadow: none !important;
  }
}

@media screen and (max-width: 1249px) {
  .notion-toggle.bg-orange {
    background: var(--color-nav-bg) !important;
    max-width: 190px !important;
    padding: 10px !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 16px !important;
    position: fixed !important;
    z-index: 9999 !important;
    display: inline-block !important;
    border: none !important;
    border-radius: 8px !important;
    margin: 20px 20px !important;
    right: 0 !important;
    bottom: 40px !important;
    border: 1px solid rgb(122,122,122, 0.3) !important;
    border-radius: 4px !important;
  }
}

@media screen and (min-width: 1250px) {
  .super-content {
    padding-top: 60px !important;
    padding-bottom: 10vh !important;
    border-radius: 6px !important;
    box-shadow: rgb(0 0 0 / 25%) 0px 8px 16px !important;
    transition: box-shadow 150ms ease 0s !important;
  }
  .super-content.max-width {
    margin-top: 50px !important;
    margin-bottom: 100px !important;
  }
  .notion-toggle.bg-orange {
    background: var(--color-nav-bg) !important;
    max-width: 150px !important;
    padding: 6px 12px !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 16px !important;
    position: fixed !important;
    z-index: 9999 !important;
    display: inline-block !important;
    border: 1px solid rgb(122,122,122, 0.3) !important;
    border-radius: 4px !important;
    margin: 20px 20px !important;
    left: 0 !important;
    top: 0 !important;
  }
}
